body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

  *:focus {
    box-shadow: none !important;
}

.low {
  text-transform: lowercase;
}

p {
  line-height: 1.75; }

a {
  color: #ffca09; }
  a.active, a:active, a:focus, a:hover {
    color: #fec503; }

h1, h2, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase; 
  }

section {
  padding: 40px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 50px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  
.card hr {
  border-top: 1px solid #c1c1c1;
  margin-top: 0cm;
  margin-bottom: 0cm;
}

@media (min-width: 768px) {
  section {
    padding: 60px 0; 
  } 
  section#Recruitment.bg-light {
      padding-bottom: 0;
    }
  }

::-moz-selection {
  background: #fed136;
  text-shadow: none; }

::selection {
  background: #fed136;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

#mainNav {
  background-color: #222222; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: rgb(190, 33, 34);
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }

  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center; }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover { color: rgb(255, 150, 150); }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #000000bd; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } }

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 15px;
      font-style: italic;
      line-height: 15px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase; }

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 250px;
    padding-bottom: 250px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 30px;
      font-style: italic;
      line-height: 30px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 30px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase; } }

#competition .competition-item {
  right: 0;
  margin: 0 0 15px; }
  #competition .competition-item .competition-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer; }
    #competition .competition-item .competition-link .competition-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background: rgba(153, 0, 0, 0.7); }
      #competition .competition-item .competition-link .competition-hover:hover {
        opacity: 1; }
      #competition .competition-item .competition-link .competition-hover .competition-hover-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: white; }
        #competition .competition-item .competition-link .competition-hover .competition-hover-content i {
          margin-top: -12px; }
        #competition .competition-item .competition-link .competition-hover .competition-hover-content h3,
        #competition .competition-item .competition-link .competition-hover .competition-hover-content h4 {
          margin: 0; }
  #competition .competition-item .competition-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: white; }
    #competition .competition-item .competition-caption h4 {
      margin: 0;
      text-transform: none; }
    #competition .competition-item .competition-caption p {
      font-size: 16px;
      font-style: italic;
      margin: 0;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#competition * {
  z-index: 2; }

@media (min-width: 767px) {
  #competition .competition-item {
    margin: 0 0 30px; } }

footer {
  padding: 0 0 50px 0;
  text-align: center; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #222222; }
    ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover { background-color: rgb(190, 33, 34); }

.btn-xl {
  font-size: 16px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 3px;
  color: White;
  border-color: rgb(220, 65, 65);
  background-color: rgb(220, 65, 65);
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
  .btn-xl.focus, .btn-xl:focus {
    color: white;
    border-color: #b48b01;
    background-color: #fec503; }
  .btn-xl:hover {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
  .btn-xl.active, .btn-xl:active {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; 
	background-image: none; }
  .btn-xl.active.focus, .btn-xl.active:focus, .btn-xl.active:hover, .btn-xl:active.focus, .btn-xl:active:focus, .btn-xl:active:hover {
      color: white;
      border-color: #b48b01;
      background-color: #dcab01; }
  .btn-xl .badge {
    color: #fed136;
    background-color: white; }
	
.btn-blue {
  color: White;
  border-color: rgb(66, 134, 244);
  background-color: rgb(66, 134, 244);
  margin-top: 10px;
}

.btn-green {
  color: White;
  border-color: rgb(0, 179, 44);
  background-color: rgb(0, 179, 44);
  margin-top: 10px;
}

@media (min-width: 483px) {
  .btn-xl {
    font-size: 20px;
  }
  .btn-blue {
    margin-top: 0px;
  }
}


.modal {
  color: black;
  text-align: left;
}


.modal div.question {
  font-weight: bold;
  font-size: 18px;
  padding-left: 32px;
  text-indent: -32px;
}

.modal .answer {
  padding-left: 32px;
  font-size: 14px;
  text-align: justify;
}



.stepwizard-step p {
    margin-top: 10px; 
	margin-right: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
    font-size: 12px;
	
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
	
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

@media only screen and (max-width: 479px) {
   .mobile-hide{ display: none !important; }
}

.dropdown-menu {
  background-color: #222222;
  border: 1px solid #949494;
  margin: 0 30% 0 30%;
}

.dropdown-item {
  color: #ffffff;
  background-color: #222222;
  text-align: center; 
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
  background-color: #222222;
  color: #fec503;
}

.department-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: .2cm;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5))
}

.department-image-hardware {
  width: 110px;
  height: 90px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: .3cm;
  margin-top: 0.2cm;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5))
}

.btn-department, .bt {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-department:hover {
  background-color: rgba(43, 43, 43, 0.813);
  color: white;
  box-shadow: #222222;
  outline: none;
  border: none;
}

.card {
  margin-top: 0.5cm;
  border: 2px solid #22222254;
}

.section#Recruitment.bg-light {
  padding-bottom: 0;
}
